

.col-md-6 {
	overflow: auto;
	text-align: center;
	margin: 10px;
	padding: 10px;
	max-width: 40%;
}

.container {
	width: 100%;
}

ul {
	display: list-item;
}

.date-text {
	padding-right: 10px;
}

a {
	padding-bottom: 10px;
}

